body {
    font-family: 'DM Sans', sans-serif;
    color: #0a0a0a;
    width: 100%;
    background-color: #f8f9fa;
}

header {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 116px;
    margin-bottom: 56px;
}

header h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}
header h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.header_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

main {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 24px;
}

.world_map {
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 24px;
}
.world_map img {
    width: 100%;
    height: 100%;
}
.absolute_cards_container_desktop {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.cards_container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 116px;
}
/* .card:nth-child(-n + 2) {
    grid-row: 1;
    grid-column: span 3;
}

.card:nth-child(n + 3):nth-child(-n + 5) {
    grid-row: 2;
    grid-column: span 2;
} */
.card {
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 0px 0px 40px 0px rgba(44, 59, 64, 0.15);
}

.card_title {
    display: flex;
    justify-content: space-between;
}
.card_flag_wrapper {
    width: 40px;
    height: 40px;
}
.card_flag_wrapper img {
    width: 100%;
    height: 100%;
}
.card h3 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
}

.card_contacts {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.card_address {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #9e9e9e;
}
.absolute_cards_container_mobile {
    display: none;
}
@media (max-width: 1080px) {
    .cards_container {
        flex-wrap: wrap;
    }
    .absolute_cards_container_mobile {
        display: none;
    }
}
@media (max-width: 780px) {
    header {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-top: 48px;
        margin-bottom: 40px;
    }
    main {
        padding: 0 40px;
    }
    .world_map {
        margin-bottom: 40px;
    }

    header h1 {
        font-size: 28px;
        line-height: 32px;
    }
    header h2 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    .header_container {
        gap: 16px;
    }
    .cards_container {
        flex-wrap: wrap;
        gap: 16px;
    }
    .card {
        background-color: #fff;
        border-radius: 20px;
        padding: 16px;
        box-shadow: 0px 0px 40px 0px rgba(44, 59, 64, 0.15);
    }
    .card h3 {
        margin-bottom: 16px;
        font-size: 20px;
        line-height: 24px;
    }
    .card_contacts {
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 24px;
    }
    .card_address {
        font-size: 16px;
        line-height: 24px;
    }
    .card_flag_wrapper {
        width: 32px;
        height: 32px;
    }
    .absolute_cards_container_mobile {
        flex-wrap: wrap;
        display: flex;
        gap: 24px;
    }
    .absolute_cards_container_desktop {
        display: none;
    }

    .card {
        width: 100%;
        background-color: #fff;
        border-radius: 20px;
        padding: 24px;
        box-shadow: 0px 0px 40px 0px rgba(44, 59, 64, 0.15);
    }
}
